<div id="<%= dom_id software %>">
  <p>
    <strong>Name:</strong>
    <%= software.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= software.type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= software.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= software.image %>
  </p>

</div>
