<p style="color: green"><%= notice %></p>

<%= render @software %>

<div>
  <%= link_to "Edit this software", edit_software_path(@software) %> |
  <%= link_to "Back to softwares", softwares_path %>

  <%= button_to "Destroy this software", @software, method: :delete %>
</div>
