<div id="<%= dom_id hardware %>">
  <p>
    <strong>Name:</strong>
    <%= hardware.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= hardware.type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= hardware.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= hardware.image %>
  </p>

</div>
