<p style="color: green"><%= notice %></p>

<%= render @hardware %>

<div>
  <%= link_to "Edit this hardware", edit_hardware_path(@hardware) %> |
  <%= link_to "Back to hardwares", hardwares_path %>

  <%= button_to "Destroy this hardware", @hardware, method: :delete %>
</div>
